@font-face {
    font-family: nb;
    src: url(./NBInternationalProBoo.ttf);
}
@font-face {
    font-family: rej;
    src: url(./rejouiceh.ttf);
    font-weight: 100;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nb;
}
html, body {
    height: 100%;
    width: 100%;
}
#page1{
    height: 100vh; 
    width: 100%;
    background-color:#dadada;
    position: relative; 
}

#cursor{
    height: 7.5vw;
    width: 7.5vw;
    background-color: #FF5F38;
    border-radius: 50%;
    position:fixed;
    z-index: 9;  
    display:flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    translate: transform(-50%, -50%);
}

#cursor h5{
    font-size: 1.3vw; 
    font-weight: 100; /* Updated font weight to 600 */
}
#page1 video{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position:absolute;
}
#page1-content{
    display: flex; /*all 2 child of pagecontent1(nav,h1) will be in a row[a,b]*/
    flex-direction: column;/*all 2 child of pagecontent1(nav,h1) will be in a column[a/ln b]*/
    align-items: center;/*all 2 child of pagecontent1(nav,h1) will be in center*/
    justify-content: space-between;/*all 2 child of pagecontent1(nav,h1) will be in space between*/
    height: 100%;
    width: 100%;
    /*background-color:rgb(0, 0, 0);*/
    position: absolute;
    z-index:10;
    color: white;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 3vw;
    height: 100px;
    width: 100%;
    /*background-color: red;*/
}
nav h3{
    font-size: 1.4vw;
}
nav h4{
    font-size: 1.4vw;
    font-weight: 100;
}
#page1-content h1{
    font-family:"rej";
    font-size: 27vw;
    font-weight: 100;
    
} 
#page1-content h1 span{
    font-family: "rej";
}
#page2{
    height: 100vh; 
    width: 100%;
    background-color: beige;
}